#home {
    background-color: #0d6efd;
    color: white;
}

#icones {
    margin-left: 220px;
}

#botaoMargem{
    margin-left: 160px;
}

.fs-7{
    font-size: small;
}

.card-text{
    height: 75px;
    overflow: hidden;
}